body {
  font-family: 'Montserrat', sans-serif;
}
.main {
  min-height: calc(100vh - 70px - 64px);
  margin: 1rem 0;
}
.nav-wrapper {
  color: white;
  background-color: black;
}

.page-footer {
  padding: 0;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}
.card-image {
  height: 400px;
  overflow: hidden;
}
.card-content {
  height: 120px;
}
.card-content .header {
  font-weight: 600;
  text-transform: uppercase;
}
.card-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container span {
  margin-right: 10px;
}
